
p{
	background-color: hotpink;
	width: 100px;
	height: 100px;
}

#box {
	background-color: blue;
}

.box {
	background-color: red;
}

p[name="tiger"]{
	background-color: cyan;
}

.box:hover{
	background-color: black;
}